<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <title>Photo Ninja</title>
  <style>
    .section{
      padding-top: 4vw;
      padding-bottom: 4vw;
    }

  </style>
</head>
<body>

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo">Story Books</a>
        </div>
      </nav>

  <!-- contact form -->
  <section class="section container scrollspy" id="contact">
    <div class="row">
      <div class="col s12 l5">
        <h2 class="indigo-text text-darken-4">Once upon a time, in a mystical fairy tale land…</h2>
        <p>Once upon a time, up an enormous green beanstalk in the clouds which hung over Middleton, Leeds there was a mystical, mysterious fairy tale land. </p>
        <p>This fairy tale land wasn’t like any other fairy tale land as it was dark and gloomy.</p>
        <p>One day some terrified fairies came scampering down the huge beanstalk and asked for some help from the children in a school nearby.</p>
        <p>Without thought, the children eagerly climbed the beanstalk to find a disserted grassland with piles of straw and sticks scattered on the floor, they understood the fairies worry.</p>
      </div>
      <div class="col s12 l5 offset-l2">
        <form>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                  <label class="active" for="email">Your Email</label>
                  <input id="email" type="email" class="validate" name="email">
                </div>
                <div class="email error"></div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                  <label class="active" for="email">Your Username</label>
                  <input id="username" type="text" disabled value="<%= user.username %>" class="validate" name="username">
                </div>
                <div class="username error"></div>
            </div>

            <!-- <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">password</i>
                  <label class="active" for="email">Your Password</label>
                  <input id="password" type="password" class="validate" name="password">
                </div>
                <div class="password error"></div>
            </div> -->

          <div class="button">
            <button class="btn waves-effect waves-dark" style="font-size: 25px;" type="submit">Update Profile
            </button>
          </div>

        </form>
      </div>
    </div>
  </section>

  <script>
      const form = document.querySelector('form')
      const usernameError = document.querySelector('.username.error')
      const emailError = document.querySelector('.email.error')
      // const passwordError = document.querySelector('.password.error')

      form.addEventListener('submit', async (e) => {
          e.preventDefault()

          // Reset errors
          usernameError.textContent = ''
          emailError.textContent = ''
          // passwordError.textContent = ''
 
          // Get the values
          const username = form.username.value
          const email = form.email.value
          // const password = form.password.value 

          try {
              const res = await fetch('/editprofile', {
                  method: 'PUT',
                  body: JSON.stringify({ username, email }),
                  headers: ({ 'Content-Type': 'application/json' })
              })
              const data = await res.json()
              if (data) {
                  location.assign('/dashboard')
              }
          }
          catch (e) {
              console.log(e)
          }
      })
  </script>

</body>
</html>